<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <image-upload [url]="'http://localhost:35195/api/image/upload'" (uploadFinished)="onUploadFinished($event)"></image-upload>
</div>

<div style="text-align:center">
    <h1>{{message}}</h1>
</div>

<div *ngIf="this.tags">
  Suggested Tags:
  <ul>
    <li *ngFor="let tag of this.tags">{{tag}}<i class="fa fa-times-circle" aria-hidden="true"></i></li>
  </ul>
<input value="Add more tags"/><button>Add <i class="fa fa-plus" aria-hidden="true"></i></button>
</div>

<div style="clear:both">
  <img  *ngFor="let image of this.images" class="suggestedImages" src="http://localhost:35195/{{image}}" />
</div>
